body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #00f;
}

#navbar {
    background-color: #ddd;
    border-bottom: 1px solid #aaa;
    height: 35px;
    
}

#navbar ul {
    margin: 0 0 0 20px;
    padding: 10px 0 0 0;
    list-style: none;
}

#navbar li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

#auth {
	position: absolute;
	top: 10px;
	right: 20px;
}

#auth select {
	margin-right: 20px;
}

#content {
    clear: both;
    padding: 0 20px;
}

#tournament_content {
	float: left;
	width: 500px;
}

#tournament_notes {
	float: left;
	width: 500px;
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px 10px;
}
