body {
	padding-top: 60px !important;
	margin-bottom: 0 !important;
}

h2, h3, h4 {
	line-height: 2em;
}
form label {
	font-weight: bold;
}
form legend {
	margin-bottom: 12px;
}
#tournament_notes, #payment_details, #travel_details {
	background-color: #eee;
	border: 1px solid #ddd;
	border-width: 1px 0;
	padding: 5px;
	margin-bottom: 5px;
}

#tournament_notes li, #payment_details li, #travel_details li {
	color: #404040;
}

/** Admin tabs always show on hover **/
.dropdown:hover .dropdown-menu {
	display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
	margin-top: -1px;
}

.header_small {
	font-size: 0.7em;
	color: #666;
}

.signup_form {
	float: left;
	display: inline;
}

.player_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.player_list li {
	padding: 3px;
	line-height: 2.2em;
}

.player_list li form {
	margin-bottom: 0px;
	clear: both;
}

.player_list li form select {
	margin: 0;
}

.odd {
	background-color: #ddd;
}

.odd select {
	background-color: #fff;
}

#players_container, #teams_container {
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer {
	color: #999;
}


/** LOGIN **/

#login-form .col1 {
  width: 120px;
}
#login-form .col2 {
  width: 220px;
}
#login-form label {
	display: inline;
}

input.error {
 border-color: #EE5F5B;
}

#login-form #remember {
	margin: 8px 6px 0 0;
	float: left;
}

#login-form .btn {
	float: right;
}

/** NAV **/
.navbar li {
  text-transform: lowercase;
}

.navbar form {
	margin: 5px 0 0 0;
}

/** PAYMENT TABLE STRIPING */
.table-striped tbody tr:nth-child(odd).good td  {
	background-color: #a9d8a9;
}

.table-striped tbody tr.good td {
	background-color: #a9d8a9;
}

.table-striped tbody tr:nth-child(odd).bad td {
	background-color: #d9aeac;
}

.table-striped tbody tr.bad td {
	background-color: #d9aeac;
}

/** TOURNAMENT FORM **/
#tournament_form .clearfix {
	clear: both;
}
#tournament_form .inline-date {
	clear: none;
	float: left;
	margin: 5px 15px 10px 0
}

#tournament_form .notes-section  {
	margin-top: 20px;
	float: left;
}
#tournament_form .notes-section #markdown_help h2 {
	display: none;
}
#tournament_form #notes_preview {
	display: block;
	padding: 4.5px;
	margin: 0 0 9px;
	font-size: 12.025px;
	line-height: 18px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: auto;
}
#tournament_form #markdown_help,
#tournament_form #notes_preview {
	display: none;
	margin-left: 0;
	min-height: 80px;
}
#tournament_form .notes-section a.btn i{
	margin-right: 4px;
	position: relative;
	top: 2px;
}


#tournament_form .teams,
#tournament_form .admins {
	float: left;
	width: 48%;
}
#tournament_form input.btn {
	clear: both;
	margin-top: 10px;
}