body {
	padding-top: 60px !important;
}

#tournament_notes, #tournament_signup, #travel_details {
	background-color: #eee;
	border: 1px solid #ddd;
	border-width: 1px 0;
	padding: 5px;
	margin-bottom: 5px;
}
